# Ignorar todo lo que genere CMake
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/CTestCustom.cmake
**/Testing/

# Ignorar carpetas build/ y bin/ en cualquier parte
**/build/
**/bin/

# Ignorar carpetas de generadores de CMake
**/cmake-build-*/

# Ignorar ejecutables por extensión
*.out
*.exe
*.bin
*.dat
save

# Config de VS Code
/.vscode/
Drones
poke_save
